.section_home{
    width: 100%;
    height: auto;
    background-color:#202c37 ;
    display: flex;
    flex-direction: column;
}

.section_home input{
    width: 90%;
    height: 40px;
    margin: 20px auto;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid #2b3945;
    color: #fff;
}
.section_home input:focus{
    outline: none;
}

.section_countries{
    width: 90%;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: minmax(380px, auto );
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.card{
    width: 280px;
    height: 360px;
    background-color: #2b3945;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.card:hover{
    box-shadow: 0px 0px 5px rgba(250, 250, 250, 0.3);
    cursor: pointer;
}
.card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 175px;
    margin: 0;
}

.card_text{
    padding: 10px 20px;
    text-align: left;
}

.card_text h3{
    font-size: 20px;
    line-height: 22px;
}

.card_text ul{
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    list-style: none;
}

@media (max-width: 1024px) {
    .section_countries{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}